
body{
  font-family: 'Poppins', sans-serif;
  background-color:#D6DBDF;
}


#account-section{
  background: url('../img/bg-01.jpg')no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;}
}

/*
.fa-facebook{
  font-size: 25px;
  background-color: #3b5998;
  width: 50px;
  height: 50px;

  border-radius: 100%;
}

.fa-google{
  font-size: 25px;
  background-color: #ea4335;
  width: 50px;
  height: 50px;
  border-radius: 100%;
} */

.social-media .fb{
  margin: 10px;
	width: 50px;
	height: 36px;
	padding-top: 14px;
	color:white;
  background: #3b5998;
  display: block;
	border-radius:5px;
}
.text-center {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.3;
  text-align: center;
}

#signup{
  display: block;
  font-family: Poppins-Bold;
  background-color: #5D6D7E;
  font-size: 25px;
  color: #333333;
  line-height: 1.3;
  text-align: left;
}
