

<div class="container" id="cart">
      <div class="py-5">
  <!--
        <button class="bg-secondary">
            <span class="close" data-dismiss="modal">&times;</span>
          </button> -->
          <table id="cart-table">
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
            <tr>
              <td>
                <div class="cart-primary">
                  <img src="img/new-item-01.jpg">
                  <div>
                    <p>multi color shirt</p>
                    <small>Price: $40.00</small>
                    <a href="#">remove</a>
                  </div>
                </div>
              </td>
              <td><input type="number" value="1"></td>
              <td>$40.00</td>
            </tr>

            <tr>
              <td>
                <div class="cart-primary">
                  <img src="img/new-item-03.jpg">
                  <div>
                    <p>multi color shirt</p>
                    <small>Price: $40.00</small>
                    <a href="#">remove</a>
                  </div>
                </div>
              </td>
              <td><input type="number" value="1"></td>
              <td>$40.00</td>
            </tr>

            <tr>
              <td>
                <div class="cart-primary">
                  <img src="img/new-item-04.jpg">
                  <div>
                    <p>multi color shirt</p>
                    <small>Price: $40.00</small>
                    <a href="#">remove</a>
                    </div>

                </div>
              </td>
              <td><input type="number" value="1"></td>
              <td>$40.00</td>
            </tr>
          </table>

          <div class="total-price" id="cart-total-price">
            <table>
              <tr>
                <td>Subtotal</td>
                <td>$120</td>
              </tr>

              <tr>
                <td>Vat</td>
                <td>$12</td>
              </tr>

              <tr>
                <td>Subtotal</td>
                <td>$132</td>
              </tr>
            </table>
          </div>


  </div>
  </div>
