{% extends 'base.html'%}
{% block body_block %}
{% include 'navbar.html' %}

<div class="container">
    <div class="col-md-12 col-lg-12">
  <div class="card">
    <div class="card-body">


<div id="slider1" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox" id="index-head-card-02">
          <div class=" carousel-item active">
            <img src="img/new-item-01.jpg" class="d-block img-fluid mb-5" alt="First Slide">

          </div>


          <div class="carousel-item">
            <img src="img/new-item-03.jpg" class="d-block img-fluid mb-5" alt="Second Slide">

          </div>

          <div class="carousel-item">
            <img src="img/offer-item-01.jpg" class="d-block img-fluid mb-5" alt="Third Slide">

          </div>

        </div>
         <a href="#slider1"class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#slider1"class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

      </div>
      </div>
      </div>
      </div>

      <!-- <div class="col-md-12 col-lg-2 d-none d-lg-block">
        <div class="card">
          <div class="card-body">
            <img src="img/bg-05.jpg" class="d-block img-fluid" id="index-head-card-03">
          </div>
        </div>

      </div> -->
      </div>
      <!-- </div> -->

      <!-- PRODUCT ITEM -->

      <br>

      <div class="catagories">
        <div class="container" id="container-product">
          <h2 id="new-collection-title">Our products</h2>

            <div id="slider2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">

            <div class="carousel-item active">

              <div class="row">

            <div class="col-3" id="product-item">
              <div class="offer">
                            <div class="offer-image">
                            <a href="product-item-01.html" class="image">
                          <img src="img/product-item-01.jpg">

                          </a>
                          <ul class="product-link">
                            <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                            <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                            <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
                          </ul>

                        </div>


                           <div class="product-bottom text-center pt-2" id="offer-item-rating">
                          <h3>New Ladies Pant</h3>
                          <h3 class="price">$30.00</h3>

                        </div>
                        </div>
            </div>
            <div class="col-3" id="product-item">
              <div class="offer">
                            <div class="offer-image">
                            <a href="product-item-02.html" class="image">
                          <img src="img/product-item-02.jpg">

                          </a>
                          <ul class="product-link">
                            <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                            <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                            <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
                          </ul>
                        </div>


                           <div class="product-bottom text-center pt-2" id="offer-item-rating">
                          <h3>New Ladies Pant</h3>
                          <h3 class="price">$30.00</h3>
                        </div>
                        </div>
            </div>
            <div class="col-3" id="product-item">
              <div class="offer">
                            <div class="offer-image">
                            <a href="product-item-03.html" class="image">
                          <img src="img/product-item-03.jpg">

                          </a>
                          <ul class="product-link">
                            <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                            <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                            <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
                          </ul>

                        </div>


                           <div class="product-bottom text-center pt-2" id="offer-item-rating">
                          <h3>New Ladies Pant</h3>
                          <h3 class="price">$30.00</h3>
                        </div>
                        </div>
            </div>

             <div class="col-3" id="product-item">
               <div class="offer">
                             <div class="offer-image">
                             <a href="product-item-04.html" class="image">
                           <img src="img/product-item-04.jpg">

                           </a>
                           <ul class="product-link">
                             <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                             <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                             <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
                           </ul>

                         </div>


                            <div class="product-bottom text-center pt-2" id="offer-item-rating">
                           <h3>New Ladies Pant</h3>
                           <h3 class="price">$30.00</h3>

                         </div>
                         </div>
            </div>

             <div class="col-3" id="product-item">
               <div class="offer">
                             <div class="offer-image">
                             <a href="product-item-05.html" class="image">
                           <img src="img/product-item-05.jpg">

                           </a>
                           <ul class="product-link">
                             <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                             <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                             <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
                           </ul>

                         </div>


                            <div class="product-bottom text-center pt-2" id="offer-item-rating">
                           <h3>New Ladies Pant</h3>
                           <h3 class="price">$30.00</h3>
                         </div>
                         </div>
            </div>
            </div>
            </div>


            <div class="carousel-item">
              <div class="row">
            <div class="col-3" id="product-item">
              <div class="offer">
                <div class="offer-image">
                <a href="new-item-01.html" class="image">
              <img src="img/new-item-01.jpg">
              </a>
              <ul class="product-link">
                <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
              </ul>
            </div>

               <div class="product-bottom text-center pt-2" id="offer-item-rating">
              <h3>New Ladies Pant</h3>
              <h3 class="price">$30.00</h3>
              </div>
          </div>
            </div>

            <div class="col-3" id="product-item">
              <div class="offer">
                <div class="offer-image">
                <a href="new-item-02.html" class="image">
              <img src="img/new-item-02.jpg">
              </a>
              <ul class="product-link">
                <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
              </ul>
            </div>
               <div class="product-bottom text-center pt-2" id="offer-item-rating">
              <h3>New Ladies Pant</h3>
              <h3 class="price">$30.00</h3>
              </div>
          </div>
            </div>


            <div class="col-3" id="product-item">
              <div class="offer">
                <div class="offer-image">
                <a href="new-item-03.html" class="image">
              <img src="img/new-item-03.jpg">
              </a>
              <ul class="product-link">
                <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
              </ul>
            </div>
               <div class="product-bottom text-center pt-2" id="offer-item-rating">
              <h3>New Ladies Pant</h3>
              <h3 class="price">$30.00</h3>
              </div>
          </div>
            </div>


             <div class="col-3" id="product-item">
               <div class="offer">
                 <div class="offer-image">
                 <a href="new-item-04.html" class="image">
               <img src="img/new-item-04.jpg">
               </a>
               <ul class="product-link">
                 <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                 <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                 <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
               </ul>
             </div>
                <div class="product-bottom text-center pt-2" id="offer-item-rating">
               <h3>New Ladies Pant</h3>
               <h3 class="price">$30.00</h3>
               </div>
           </div>
            </div>


             <div class="col-3" id="product-item">
               <div class="offer">
                 <div class="offer-image">
                 <a href="new-item-01.html" class="image">
               <img src="img/new-item-05.jpg">
               </a>
               <ul class="product-link">
                 <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                 <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                 <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
               </ul>
             </div>
                <div class="product-bottom text-center pt-2" id="offer-item-rating">
               <h3>New Ladies Pant</h3>
               <h3 class="price">$30.00</h3>
               </div>
           </div>
            </div>
            </div>
            </div>


            <div class="carousel-item">
              <div class="row">
            <div class="col-3" id="product-item">
              <div class="offer">
                <div class="offer-image">
                <a href="offer-item-01.html" class="image">
              <img src="img/offer-item-01.jpg">
            </a>
              <ul class="product-link">
                <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
              </ul>
            </div>
               <div class="product-bottom text-center pt-2" id="offer-item-rating">
              <h3>New Ladies Pant</h3>
              <h3 class="price">$30.00</h3>
              </div>
          </div>
            </div>


            <div class="col-3" id="product-item">
              <div class="offer">
                <div class="offer-image">
                <a href="offer-item-02.html" class="image">
              <img src="img/offer-item-02.jpg">
            </a>
              <ul class="product-link">
                <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
              </ul>
            </div>
               <div class="product-bottom text-center pt-2" id="offer-item-rating">
              <h3>New Ladies Pant</h3>
              <h3 class="price">$30.00</h3>
              </div>
          </div>
            </div>


            <div class="col-3" id="product-item">
              <div class="offer">
                <div class="offer-image">
                <a href="offer-item-03.html" class="image">
              <img src="img/offer-item-03.jpg">
            </a>
              <ul class="product-link">
                <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
              </ul>
            </div>
               <div class="product-bottom text-center pt-2" id="offer-item-rating">
              <h3>New Ladies Pant</h3>
              <h3 class="price">$30.00</h3>
              </div>
          </div>
            </div>


             <div class="col-3" id="product-item">
               <div class="offer">
                 <div class="offer-image">
                 <a href="offer-item-04.html" class="image">
               <img src="img/offer-item-04.jpg">
             </a>
               <ul class="product-link">
                 <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                 <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                 <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
               </ul>
             </div>
                <div class="product-bottom text-center pt-2" id="offer-item-rating">
               <h3>New Ladies Pant</h3>
               <h3 class="price">$30.00</h3>
               </div>
           </div>
            </div>


             <div class="col-3" id="product-item">
               <div class="offer">
                 <div class="offer-image">
                 <a href="offer-item-05.html" class="image">
               <img src="img/offer-item-05.jpg">
             </a>
               <ul class="product-link">
                 <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
                 <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
                 <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
               </ul>
             </div>
                <div class="product-bottom text-center pt-2" id="offer-item-rating">
               <h3>New Ladies Pant</h3>
               <h3 class="price">$30.00</h3>
               </div>
           </div>
            </div>
            </div>
            </div>


            <a href="#slider2"class="carousel-control-prev" data-slide="prev">
             <span class="carousel-control-prev-icon"></span>
           </a>
           <a href="#slider2"class="carousel-control-next" data-slide="next">
             <span class="carousel-control-next-icon"></span>
           </a>
            </div>
          </div>
        </div>
      </div>

      <!-- NEW ITEM -->

      <section id="new-item">
      <div class="container">
        <h2 id="new-collection-title">New Collection</h2>
        <div class="row">
          <div class="col-md-3" id="offer-item">
            <div class="offer">
              <div class="offer-image">
              <a href="new-item-01.html" class="image">
            <img src="img/new-item-01.jpg">
            </a>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
            </div>
        </div>
        </div>


          <div class="col-md-3" id="offer-item">
             <div class="offer">
              <div class="offer-image">
              <a href="new-item-02.html" class="image">
            <img src="img/new-item-02.jpg">
            </a>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
          </div>
          </div>
          </div>


          <div class="col-md-3" id="offer-item">
            <div class="offer">
              <div class="offer-image">
              <a href="new-item-03.html" class="image">
            <img src="img/new-item-03.jpg">
            </a>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
          </div>
          </div>
          </div>


          <div class="col-md-3" id="offer-item">
            <div class="offer">
              <div class="offer-image">
              <a href="new-item-04.html" class="image">
            <img src="img/new-item-04.jpg">
            </a>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
          </div>
          </div>
          </div>


          <div class="col-md-3" id="offer-item">
              <div class="offer">
              <div class="offer-image">
              <a href="new-item-05.html" class="image">
            <img src="img/new-item-05.jpg">
            </a>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
          </div>
          </div>
          </div>
        </section>




      <!-- OFFER ITEM -->

      <section>
      <div class="container">
        <h2 id="offer-item-title">Offer Items</h2>
        <div class="row">
          <div class="col-md-3" id="offer-item">
            <div class="offer">
              <div class="offer-image">
              <a href="offer-item-01.html" class="image">
            <img src="img/offer-item-01.jpg">
            </a>
            <span class="product-label">sale15%</span>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
            </div>
        </div>
        </div>


          <div class="col-md-3" id="offer-item">
              <div class="offer">
              <div class="offer-image">
              <a href="offer-item-02.html" class="image">
            <img src="img/offer-item-02.jpg">
            </a>
            <span class="product-label">sale15%</span>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
           </div>
          </div>
          </div>


          <div class="col-md-3" id="offer-item">
            <div class="offer">
              <div class="offer-image">
              <a href="offer-item-03.html" class="image">
            <img src="img/offer-item-03.jpg">
            </a>
            <span class="product-label">sale15%</span>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
          </div>
          </div>
          </div>


          <div class="col-md-3" id="offer-item">
            <div class="offer">
              <div class="offer-image">
              <a href="offer-item-04.html" class="image">
            <img src="img/offer-item-04.jpg">
            </a>
            <span class="product-label">sale15%</span>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
          </div>
          </div>
          </div>


          <div class="col-md-3" id="offer-item">
           <div class="offer">
              <div class="offer-image">
              <a href="offer-item-05.html" class="image">
            <img src="img/offer-item-05.jpg">
            </a>
            <span class="product-label">sale15%</span>
            <ul class="product-link">
              <li> <a href="#"><i class="fa fa-eye"></i></a> </li>
              <li> <a href="#"><i class="fa fa-heart"></i></a> </li>
              <li> <a href="#"><i class="fa fa-shopping-cart"></i></a> </li>
            </ul>
          </div>
             <div class="product-bottom text-center pt-2" id="offer-item-rating">
            <h3>New Ladies Pant</h3>
            <h3 class="price">$30.00</h3>
          </div>
          </div>
          </div>
          </section>

{% endblock %}
