{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block body_block %}
{% include 'navbar.html' %}

<section id="account-section">
  <div class="container">
    <div class="row pt-5">

      <div class="col-md-12 col-lg-6">
        <img src="img/e-4.jpg" class="img-fluid py-5 rounded-circle" alt="">
      </div>

      <div class="col-md-12 col-lg-6">
        <div class="card">
          <div class="card-body">

            <h4 class="text-center">Please fill out this form to Signin</h4>
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <!-- <label for="email" class="text-body">Email</label>
                <input type="emai" class="form-control" placeholder="email"> -->
                {{ form.username|as_crispy_field }}
              </div>
              <div class="form-group">
                <!-- <label for="password" class="text-body">Password</label>
                <input type="password" class="form-control" placeholder="password"> -->
                {{ form.password|as_crispy_field }}
              </div>
              <div class="col-md-" id="signin-btn">
                <div class="container">
                  <button class="btn btn-primary btn-block text-center">Singin</button>
                </div>
              </div>
            </form>
            <br>


            <div class="social-media">
              <p>Or Log In with

                <a class="fb"><i class="fab fa-facebook-f"></i></a>
                <a class="gl"><i class="fab fa-google"></i></a>




              </p>
            </div>

            <div>
              <p>Not a member yet?<a href="signup.html">Signup</a></p>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>

</section>

{% endblock %}