{% extends 'base.html'%}
<!-- {% load crispy_forms_tags %} -->

{% block body_block %}
{% include 'navbar.html' %}


<section id="signup" class="py-5">
  <div class="container">

    <div class="row pt-5" id="signup-row">

      <div class="col-md-12 col-lg-4 pt-5 pb-1">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center pb-3">Signup Here</h4>
            <form method="POST">
              {% csrf_token %}
              <div>
                {{form.as_p}}
              </div>
              <!-- <div>
                {{form.password1}}
              </div>

              <div>
                {{form.password2}}
              </div> -->

              <div class="col-md-" id="signup-btn">
                <div class="container">
                  <button class="btn btn-block" type="submit">Singup</button>
                </div>
              </div>
            </form>
            <br>

            <div id="go-to-signin">
              <p>already have an account?<a href="{% url "Login_App:login" %}"> signin </a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-lg-8">
        <img src="img/bg-06.jpg" class="img-fluid py-5 rounded-circle" alt="">
      </div>

    </div>
  </div>

</section>
{%include 'footer.html' %}

{% endblock %}